{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Django App</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <ul class="header-list">
        <a href="{% url 'movies:list' %}"><li>Ver películas</li></a>
        <a href="{% url 'movies:create' %}"><li>Crear película</li></a>
        <a href="{% url 'users:list' %}"><li>Lista de usuarios</li></a>
        <a href="{% url 'users:create' %}"><li>Crear usuario</li></a>
        <a href="{% url 'addresses:create' %}"><li>Crear dirección</li></a>
        <a href="{% url 'groups:list' %}"><li>Lista de grupos</li></a>
        <a href="{% url 'groups:create' %}"><li>Crear grupo</li></a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'user_logout' %}"><li>Cerrar sesión</li></a>
        {% else %}
            <a href="{% url 'login' %}"><li>Iniciar sesión</li></a>
        {% endif %}
    </ul>

    {% block content %}
    {% endblock content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <p style="color:red">{{ message }}</p>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <p style="color:yellow">{{ message }}</p>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <p style="color:green">{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}

    <footer>Actosoft 2020</footer>
</body>
</html>